@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar-track {
  background: transparent; /* Transparent background */
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

* {
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent; /* Thumb color | Track color */
  font-family: "Nunito", sans-serif;
}

@font-face {
  font-family: "Nunito";
  font-weight: 400;
  src: url("src/assets/fonts/Nunito-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Nunito";
  font-weight: 300;
  src: url("src/assets/fonts/Nunito-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Nunito";
  font-weight: 500;
  src: url("src/assets/fonts/Nunito-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Nunito";
  font-weight: 700;
  src: url("src/assets/fonts/Nunito-Bold.woff2") format("woff2");
}
