@tailwind base;
@tailwind components;
@tailwind utilities;

.onLine {
  display: flex;
  justify-content: center;
  align-items: center;
}
.quarterback {
  display: flex;
  justify-content: center;
  align-items: center;
}
.runningback {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .picture {
  max-width: 95%;
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  background-color: #b0b7bc;
  border: 0.5px solid black;
}

.card .name {
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 120%;
  color: white;
}
.card .number {
  margin-bottom: 10px;
  font-size: 250%;
  font-weight: 500;
  color: white;
}
.card .position {
  color: white;
  font-weight: 500;
}
