@tailwind base;
@tailwind components;
@tailwind utilities;

.onLine {
  display: flex;
  justify-content: center;
  align-items: center;
}
.quarterback {
  display: flex;
  justify-content: center;
  align-items: center;
}
.runningback {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  padding: 5px;
  margin: 15px;
  text-align: center;
  max-width: 120px;
  min-width: 120px;
  max-height: 360px;
  display: inline-block;
  background-color: #0076b6;
  position: relative;
}

.card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.card .picture {
  max-width: 95%;
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  background-color: #b0b7bc;
  border: 0.5px solid black;
}

.card .name {
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 120%;
  color: white;
}
.card .number {
  margin-bottom: 10px;
  font-size: 250%;
  font-weight: 500;
  color: white;
}
.card .position {
  color: white;
  font-weight: 500;
}
